---
- name: Ensure Microsoft Defender Antivirus service is enabled
  ansible.windows.win_service:
    name: WinDefend
    start_mode: auto
    state: started

- name: Enable Microsoft Defender real-time protection
  ansible.windows.win_powershell:
    script: |
      Set-MpPreference -DisableRealtimeMonitoring $false
      Set-MpPreference -DisableIOAVProtection $false
  register: defender_realtime
  changed_when: defender_realtime.changed

- name: Ensure Defender for Endpoint is not in passive mode
  ansible.windows.win_regedit:
    path: HKLM:\SOFTWARE\Policies\Microsoft\Windows Advanced Threat Protection
    name: ForceDefenderPassiveMode
    data: 0
    type: dword
    state: present
